.logo-preloder
{
    width: 30%;

}
.preloader
{
    text-align: center;
    justify-content: center;
}
.header_logo .img-fluid {
    width: 60% !important;
}
.list_2,.list_3
{
    display: none;
}
#primary__btn2\ w-50 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
    color:#fff;
    background: #ea062b;
    display: inline-block;
    padding: 14px 41px;
    -webkit-transition:all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    z-index: 1;
    font-weight: 500;
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    width: 50%;
    cursor: pointer;
  }
  #primary__btn2\ w-50:hover
  {
    background-color: black;
    direction: rtl;
    border: #000;
    position: relative;
    transition:all 0.3s ease-in;
   
  }
  .span_quote
  {
    font-size:medium;
    color: #797777;
  }
  .nice-selec1 .current {

    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 400;
    color: #8c8c8c;
    display: block;
    padding-top: 3px;
  }
  #primary__btn3\ w-50 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    background: #ea062b;
    display: inline-block;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    z-index: 1;
    font-weight: 500;
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    width: 50%;
    cursor: pointer;
    border: 1px solid #ea062b;
  }
  #primary__btn3\ w-50:hover {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    background: #000;
    display: inline-block;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: relative;
    z-index: 1;
    font-weight: 500;
    position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    width: 50%;
    cursor: pointer;
    border: 1px solid #000;
  }
  .logo.mobile.py-3 img {
    width: 26%;
  }
  .mb-30.founder_title {
    font-size: 15px;
    color: #686868;
    font-weight: 600;
  }
  .mb-30.about_quote {
    font-size: 16px;
  }
  .mark_quote {
    color: #e80429;
  }
  #imageContainer img {
    height: 280px;
    object-fit: fill;
    aspect-ratio: 3/1;
  }
  .col-xl-12.mb-4.more {
    align-content: center;
    align-items: center;
    align-self: center;
    display: contents;
  }
  .btn41-43 {
    padding: 15px;
    font-family: inherit;

    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  }
  
  .btn-41 {
    border: 2px solid rgb(247, 5, 5);
    z-index: 1;
    color: rgb(253, 252, 252);
    background-color: rgb(247, 5, 5);
  }
  
  .btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction:ltr;
    z-index: -1;
    background:rgb(10, 10, 10);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(252, 252, 252);
    border: 2px solid rgb(10, 10, 10);;
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }